---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: 'Marzo 2023 - Noviembre 2023 · 9 meses',
    title: 'Frontend Developer',
    company: 'CPANAX',
    description:
      'Encargado del análisis y rediseño de la UX/UI de la aplicación web para crear aplicaciones "no code" llamada Codeless. Se logró mejorar tanto visualmente como la experiencia de usuario en la mayoría de las interfaces, facilitando radicalmente el uso, permitiendo entender de forma más intuitiva y aprovechar las funciones de la aplicación.',
  },
  {
    date: 'Enero 2022 - Febrero. 2023 · 1 año 2 meses',
    title: 'Full Stack Developer',
    company: 'Lyncros',
    description:
      'Asignado al equipo de integraciones externas y posteriormente a Crop Story, pude desarrollar y dar mantenimiento a diversas aplicaciones, como el backoffice para gestión interna, la aplicación móvil de Ucropit desarrollada con React Native, además del backend, APIs y múltiples microservicios.',
  },
  {
    date: 'Enero. 2018 - Noviembre. 2021 · 3 años 11 meses',
    title: 'Full Stack Developer',
    company: 'Freelance',
    description:
      'Encargado de desarrollar aplicaciones web, como redes sociales, paneles de administración, salud, hotelería, sistemas de gestión de contenido, etc. Además, del desarrollo del backend o APIs consumidas por la mayoría de las aplicaciones antes mencionadas.',
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
